body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  background-blend-mode: overlay;
  height: 100dvh;
}

p {
  font-family: 'Cormorant Garamond', serif;
  background-color: #0007;
  border-radius: 15px;
  font-weight: normal;
  color: #FFF6EC;
  text-align: center;
}

button {
  display: block;
  margin: 0 auto;
  padding: 9px 63px;
  background-color: transparent;
  border: #FFF6EC 1px solid;
  border-radius: 3px;
  font-family: 'Cormorant SC', serif;
  font-weight: normal;
  font-size: 35px;
  color: #FFF6EC;
  text-align: center;
  width: 214px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 1s;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background-color: #FFF6ECE5;
    transform: skewX(35deg);
    z-index: -1;
    transition: width 0.5s;
  }

  &:hover {
    color: #390C00;
  }

  &:hover::before {
    width: 150%;
  }

  &:active::before {
    width: 150%;;
  }
}
